.env
*.env
backend/.env
frontend/.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / frontend build artifacts
node_modules/
frontend/dist/
dist/

#AWS SAM
backend/.aws-sam/   
.aws-sam
samconfig.toml